server:
  port: 8083

spring:
  application:
    name: interaction-service

  datasource:
    url: jdbc:postgresql://localhost:5434/interaction_db
    username: interaction_user
    password: interaction_pass

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  flyway:
    enabled: true

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${KEYCLOAK_ISSUER_URI:http://localhost:8080/realms/dating}

clients:
  match-base-url: ${MATCH_BASE_URL:http://localhost:8084}

management:
  endpoints:
    web:
      exposure:
        include: health,info