server:
  port: 8086

spring:
  application:
    name: notification-service
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${KEYCLOAK_ISSUER_URI:http://localhost:8080/realms/dating}

management:
  endpoints:
    web:
      exposure:
        include: health,info